@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="@Url.Action("DownloadActionAsPDF", "Home")">Download Pdf</a>
    </div>
    <div>
        <a href="@Url.Action("DownloadActionAsPDFMonth", "Home")">Download Pdf month</a>
    </div>
</body>
</html>
